
.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaria_Light);
    width: 100vw;
    height: calc(100vh - 160px);
    overflow: scroll;
}

.estrutura{
    width: 1200px;
    position: absolute;
    top: 120px;
}

.conteudo{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.table{
    width: 1200px;
}


table > thead > tr > th {
    background-color: var(--primaria_darker);
    position: sticky;
    top: 0; 
    color: var(--primaria_Light_active);
  }